Developement of Language Detection System using Machine Learning

In [59]:
#IMPORT LIBRARIES


import string
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn import metrics
from sklearn.svm import SVC
import matplotlib.pyplot as plt
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import LabelEncoder
from sklearn.naive_bayes import MultinomialNB
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.metrics import confusion_matrix, ConfusionMatrixDisplay
from sklearn.ensemble import RandomForestClassifier, VotingClassifier
from sklearn.metrics import accuracy_score, precision_recall_fscore_support

In [60]:
# Loading multiple datasets for usage more languages



df1 =pd.read_csv("C:\\Users\\abhis\\Desktop\\PROJ_DOCS\\dataset.csv")
df2 = pd.read_csv("C:\\Users\\abhis\\Desktop\\PROJ_DOCS\\Language Detection.csv")

df3=pd.read_csv("C:\\Users\\abhis\\Desktop\\PROJ_DOCS\\telugu_sentences_200.csv")

In [61]:
# Concatenate  datasets
# Save the combined dataset

df= pd.concat([df1, df2, df3], ignore_index=True)
df.to_csv('df', index=False)

In [62]:
# Display newly created DataFrame

df

                                                    Text  Language
0      klement gottwaldi surnukeha palsameeriti ning ...  Estonian
1      sebes joseph pereira thomas  på eng the jesuit...   Swedish
2      ถนนเจริญกรุง อักษรโรมัน thanon charoen krung เ...      Thai
3      விசாகப்பட்டினம் தமிழ்ச்சங்கத்தை இந்துப் பத்திர...     Tamil
4      de spons behoort tot het geslacht haliclona en...     Dutch
...                                                  ...       ...
32528                ఈ సముద్రయానం చాలా ఆకర్షణీయంగా ఉంది.    Telugu
32529                    ఆ ఫలితం చాలా ఆశ్చర్యకరంగా ఉంది.    Telugu
32530                          ఈ విరామం నాకు చాలా అవసరం.    Telugu
32531                ఆ కుటుంబం చాలా స్నేహపూర్వకంగా ఉంది.    Telugu
32532                 ఈ సంబరాలు నాకు చాలా ఆనందం ఇస్తాయి.    Telugu

[32533 rows x 2 columns]

Exploratory Data Analysis (EDA)

In [63]:
# Display rows and columns in DATAFRAME
df.shape

(32533, 2)

In [64]:
# Check the distribution of the target variable (language)
print(df['Language'].value_counts())

Language
English       2385
French        2014
Spanish       1819
Russian       1692
Dutch         1546
Arabic        1536
Turkish       1474
Tamil         1469
Hindi         1063
Latin         1000
Urdu          1000
Japanese      1000
Estonian      1000
Thai          1000
Swedish       1000
Korean        1000
Chinese       1000
Indonesian    1000
Portugese     1000
Romanian      1000
Persian       1000
Pushto        1000
Portugeese     739
Italian        698
Sweedish       676
Malayalam      594
German         470
Danish         428
Kannada        369
Greek          365
Telugu         196
Name: count, dtype: int64

In [65]:
# Display the first few rows of the dataset
print(df.head())

                                                Text  Language
0  klement gottwaldi surnukeha palsameeriti ning ...  Estonian
1  sebes joseph pereira thomas  på eng the jesuit...   Swedish
2  ถนนเจริญกรุง อักษรโรมัน thanon charoen krung เ...      Thai
3  விசாகப்பட்டினம் தமிழ்ச்சங்கத்தை இந்துப் பத்திர...     Tamil
4  de spons behoort tot het geslacht haliclona en...     Dutch

In [66]:
# Get basic information about the dataset
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32533 entries, 0 to 32532
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Text      32533 non-null  object
 1   Language  32533 non-null  object
dtypes: object(2)
memory usage: 508.5+ KB
None

In [67]:
# Describe the numerical features
print(df.describe())

                                                     Text Language
count                                               32533    32533
unique                                              32215       31
top     haec commentatio automatice praeparata res ast...  English
freq                                                   48     2385

In [68]:
# Check for missing values
print(df.isnull().sum())

Text        0
Language    0
dtype: int64

In [69]:
print(df.dtypes)

Text        object
Language    object
dtype: object

PREPROCESSING

In [70]:
#Stop word removal
#Lowercasing

# method to remove puncutations for easy predication

def remove_pun(Text):
    if isinstance(Text, str):
        for pun in string.punctuation:
            Text = Text.replace(pun, "")
        Text = Text.lower()
    return Text

In [71]:
#Applying the remove_pun function to the 'Text' column of your DataFrame df

df['Text'] = df['Text'].apply(remove_pun)

In [73]:
label_encoder = LabelEncoder()
df['Language'] = label_encoder.fit_transform(df['Language'])

In [74]:
numerical_df.hist(bins=50, figsize=(20, 15))
plt.show()

NameError: name 'numerical_df' is not defined