Developement of Language Detection System using Machine Learning

In [28]:
#IMPORT LIBRARIES


import string
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn import metrics
from sklearn.svm import SVC
import matplotlib.pyplot as plt
from sklearn.pipeline import Pipeline
from sklearn.naive_bayes import MultinomialNB
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.metrics import confusion_matrix, ConfusionMatrixDisplay
from sklearn.ensemble import RandomForestClassifier, VotingClassifier
from sklearn.metrics import accuracy_score, precision_recall_fscore_support

In [33]:
# Loading multiple datasets for usage more languages

df1 =pd.read_csv("C:\\Users\\abhis\\Desktop\\PROJ_DOCS\\dataset.csv")
df2=pd.read_csv("C:\\Users\\abhis\\Desktop\\PROJ_DOCS\\language_detection.csv")
df3=pd.read_csv("C:\\Users\\abhis\\Desktop\\PROJ_DOCS\\telugu_sentences_200.csv")

In [34]:
# Concatenate  datasets
# Save the combined dataset

df= pd.concat([df1, df2, df3], ignore_index=True)
df.to_csv('df', index=False)

In [35]:
# Display newly created DataFrame

df

                                                    Text  Language
0      klement gottwaldi surnukeha palsameeriti ning ...  Estonian
1      sebes joseph pereira thomas  på eng the jesuit...   Swedish
2      ถนนเจริญกรุง อักษรโรมัน thanon charoen krung เ...      Thai
3      விசாகப்பட்டினம் தமிழ்ச்சங்கத்தை இந்துப் பத்திர...     Tamil
4      de spons behoort tot het geslacht haliclona en...     Dutch
...                                                  ...       ...
44191                ఈ సముద్రయానం చాలా ఆకర్షణీయంగా ఉంది.    Telugu
44192                    ఆ ఫలితం చాలా ఆశ్చర్యకరంగా ఉంది.    Telugu
44193                          ఈ విరామం నాకు చాలా అవసరం.    Telugu
44194                ఆ కుటుంబం చాలా స్నేహపూర్వకంగా ఉంది.    Telugu
44195                 ఈ సంబరాలు నాకు చాలా ఆనందం ఇస్తాయి.    Telugu

[44196 rows x 2 columns]

Exploratory Data Analysis (EDA)